body {
    padding: 0;
    margin: 0;
    background: url('../pittsburgh.jpg') no-repeat center center fixed;
    background-size: cover;
    font: 300 100%/1.4em 'Source Sans Pro';
}

.primary {
    display: flex;
    margin: 20px 40px;
}
.primary ul,
.primary h1 {
    flex-grow: 2;
}
.primary ul {
    margin: 3em 0 0 0;
    padding: 0 40px;
    list-style-type: none;
    flex-grow: 1;
    color: #fff;
}
.primary ul li.frozen:before {
    content: '!';
    border-radius: 50%;
    background: #fff;
    color: #f00;
    float: left;
    margin: 5px 0 0 -30px;
    width: 20px;
    height: 20px;
    clear: left;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
}

h1,site,traffic {
    line-height: 1em;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 17em;
    font-weight: 300;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    text-align: center;
    padding: 0 0 0.1em 0;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}
h1.up {
    -webkit-animation-name: flashup;
}
h1.down {
    -webkit-animation-name: flashdown;
}
site {
    font-size: 1.5em;
    line-height: 1.25em;
    font-weight: 400;
    display: block;
    float: left;
    width: 50%;
}
traffic {
    font-size: 1.5em;
    line-height: 1.25em;
    font-weight: 400;
    float: left;
    width: 50%;
    text-align: right;
}
referrals {
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin: 20px 40px;
    display: block;
}
referrals ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 10px 20px;
    color: #fff;
    font-weight: 600;
    font-size: 1.25em;
}
referrals li {
    flex: auto;
}
referrals li div {
    display: inline-block;
    box-sizing: border-box;
}
referrals li div:last-child {
    font-weight: 400;
    padding-left: 10px;
}
.chart {
    margin: 20px 40px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    position: relative;
}
min,max {
    position: absolute;
    right: -30px;
    color: #fff;
}
min {
    bottom: 0;
}
max {
    top: 0;
}

.chart svg {
    margin: 0;
    display: block;
    opacity: 0.8;
}

@-webkit-keyframes flashup {
    from { text-shadow: 0 0 120px #53a63a; }
    to { text-shadow: 0 0 0 #eee; }
}

@-webkit-keyframes flashdown {
    from { text-shadow: 0 0 120px #f00; }
    to { text-shadow: 0 0 0 #eee; }
}